[Unit]
Description=NFSv4 Client Tracking Daemon
DefaultDependencies=no
Conflicts=umount.target
Requires=rpc_pipefs.target proc-fs-nfsd.mount
After=rpc_pipefs.target proc-fs-nfsd.mount

[Service]
Type=forking
ExecStart=/usr/sbin/nfsdcld
